@tailwind base;
@tailwind components;
@tailwind utilities;

/* to debug overflow */
/* * {
  outline: 1px solid green;
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  background-color: white;
  color: #0c0c0c;
}

.hide-scrollbar {
  scrollbar-width: 7px;
  /* -ms-overflow-style: none; */
}

.hide-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.hide-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: rgba(220, 220, 220, 0.776);
  border-radius: 10px;
}
